<div id="new">
	<form {{action 'create' this on="submit"}} >
		<fieldset>
			{{#if isSaving}}
				<p> Saving Record </p>
			{{/if}}
			<p><label for="title"> Title: </label> </p>
			{{input type="title" value=title}} 
			<p> <label for="body"> Body:  </label> </p>
			{{textarea id="textar" value=body}}
			<p><label for="author"> Author: </label> </p>
			{{input type="author" value=author}} 
			</br></br>
			<button class="btn btn-primary btn-default"> Create </button>
		</fieldset>
	</form>
</div>




