<div id="edit">
<form {{action 'update' this on="submit"}}>
	<fieldset>
		{{#if isSaving}}
			<p> Saving Record </p>
		{{/if}}
			
			<p><label for="title"> Title: </label> </p> 
				{{input type="title" value=title}}
			<p><label for="body"> Body: </label> </p>
				{{textarea id="textar" value=body}} 
			</br></br>
	  	<button class="btn btn-primary btn-default"> Update</button>
	 </fieldset>
</form>
</div>

