<link rel="stylesheet" href="../../stylesheets/bootstrap.css" >
<link rel="stylesheet" href="../../stylesheets/bootstrap.min.css" >
<link rel="stylesheet" href="../../stylesheets/normalize.css">
<link rel="stylesheet" href="../../stylesheets/application.css">
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"> </script>

<div class="about">
	<h1>About</h1>
	<p>Some easy app with Rails and Emberjs.</p>
</div>
<img src="../../images/emberjs-logo.png" alt="logoember" class="center">

{{outlet}}
