<link rel="stylesheet" href="../../stylesheets/normalize.css">
<link rel="stylesheet" href="../../stylesheets/application.css">
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">

  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#/about"> About</a>
      <ul class="nav">
        <li>{{#link-to 'stories'}}Stories{{/link-to}}</li>
        <li> {{#link-to 'users.new'}} Register {{/link-to}} </li>  
      </ul>
    </div>
  </div>



  {{outlet}}


<!-- <img src="../../images/emberjs-logo.png" alt="logoember" class="center"> -->